<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive= "active current ">
            <a  class="nav-link active" aria-current="page" routerLink="department">Departments</a>
          </li>
          <li class="nav-item" routerLinkActive= "active current ">
            <a  class="nav-link active" routerLink="employee">Employees</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
  <div class="main-content">
    <router-outlet></router-outlet>

  </div>
</body>

